VITE_APP_NAME=Edurasa
VITE_APP_VERSION=New Edition
VITE_NAME_SCHOOL=SDN Ratujaya 1
VITE_UPTD_SHORT=UPTD
VITE_UPTD_LONG=Unit Pengelola Tingkat Dinas
VITE_INSTANSI_PEMERINTAH=Pemerintah Daerah Kota Depok
VITE_INSTANSI_OPD=Dinas Pendidikan
VITE_DAERAH_INDUK=Kota Depok
VITE_ALAMAT_KOP_1=Jl. SMP Ratujaya No. 41, RT 05/RW 03, Kel. Ratujaya
VITE_ALAMAT_KOP_2=Kecamatan Cipayung
VITE_ALAMAT_KOP_3=NPSN: 20228914 | Email: uptdsdnratujaya1@gmail.com, web: www.sdnratujaya1.net
VITE_FOLDER_ABSEN="Poto Absen Edura " // + tahun
VITE_FOLDER_SURAT="Dokumen Surat" // + tahun
VITE_FOLDER_DOKUMEN_PRIBADI_GURU=DOKUMEN_GURU_SDN_RATUJAYA_1
VITE_FOLDER_DOKUMEN_PRIBADI_SISWA="DOKUMEN PRIBADI SISWA"

# import.meta.env.